@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';

.wrap{
  background-color: lightblue;
}

.container{
  background-color: white;
  height: 100vh;
  max-width: 36em;
}

h1{
  text-align: center;
  padding: 1em;
}

.list-item{
  padding: 1em;
  border-bottom: thin lightgrey solid;
}

.item{
  justify-content: space-between;
  display: flex;
}

p{
  margin-bottom: 0;
}

i:hover{
  color: lightseagreen;
}

.priority{
  text-align: right;
  font-size: 0.7em;
  color: red;
}

.new-list-item{
  display: flex;
  margin-top: 0.5em;
}

.inputs{
  flex: 1 0 70%;
}

input{
  border: none;
  border-bottom: thin lightgrey solid;
  padding: 1em;
  width: 100%;
}

.new-item-priority{
  padding: 0.4em 1em 0.4em 1em;
}

input:focus{
  outline: none;
}

.btn{
  margin: 2em 0 2em 1em;
  background-color: lightseagreen;
  border: none;
  font-weight: bold;
}
